
<!-- Ventana de registro de Novedades -->
<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Registro-incidente
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink='/tabs/tab1'>
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="valign-wrapper2">
  <br>
  <ion-title size="large"> </ion-title>

  <!-- Formulario de registro de novedades -->
    <form class="valign-wrapper4" [formGroup]="registerForm" (ngSubmit)="register()">
      <br><br>
    <ion-list >
      
        <ion-radio-group value="Sin novedad" formControlName="title" >
          <ion-list-header>
            <ion-label>Registrar Novedades</ion-label>
          </ion-list-header>

          <ion-item >
            <ion-label>Sin Novedad</ion-label>
            <ion-radio slot="start" type="radio" value="Sin Novedad"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Persona Sospechosa</ion-label>
            <ion-radio slot="start" type="radio" value="Persona Sospechosa"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Incendio</ion-label>
            <ion-radio slot="start" type="radio" value="Incendio"></ion-radio>
          </ion-item>
          
          <ion-item>
            <ion-label>Otro</ion-label>
            <ion-radio slot="start" value="Otro"></ion-radio>
            <ion-textarea placeholder="ingrese más información" formControlName="description"></ion-textarea>
          </ion-item>

        </ion-radio-group>
      <br><br>
      <ion-grid>
        <ion-row>
          <ion-col>
            <!-- boton de registro -->
            <ion-button color="primary" type="submit" expand="block" shape="round" size="large">Registrar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>